<fieldset>
    <legend>Edit Product</legend>
    <!-- TITLE -->
    <div class='form-group'>
        <label for='product-title'>Plant Name:</label><br>
        <input class='form-control' id='plant-title' type='text' name='title' value='{{ product.title }}'/>
    </div>

    <!-- DESCRIPTION -->
    <div class='form-group'>
        <label for='description'>Plant Description:</label><br>
        <input class='form-control' id='plant-description' type='text' name='description' value='{{ product.description }}' />
    </div>

</fieldset>