<fieldset>
    <legend>Edit Product</legend>
    <!-- TITLE -->
    <div class='form-group'>
        <label for='product-name'>Plant Name:</label><br>
        <input class='form-control' id='plant-name' type='text' name='plant-name'/>
    </div>

    <!-- DESCRIPTION -->
    <div class='form-group'>
        <label for='plant-description'>Plant Description:</label><br>
        <input class='form-control' id='plant-description' type='text' name='plant-description' />
    </div>


    <!-- Price -->
    <div class='form-group'>
        <label for='plant-price'>Plant Price:</label><br>
        <input class='form-control' id='plant-price' type='text' name='plant-price' />
    </div>

    <!-- DIFFICULTY -->
    <div class='form-group'>
        <label for='plant-difficulty'>Plant Difficulty:</label><br>
        <input class='form-control' id='plant-difficulty' type='text' name='plant-difficulty' />
    </div>
</fieldset>