<!DOCTYPE html>
<html>
<head>
        {% include 'partials/nav_bar.html' %}
    <div class="buttons"> 
        <a href='/'>Back to Home</a> 
        <a href='/plants/new'>Click here to add a new plant</a>
    </div> 
    # main title to display on all pages
        <h1>PLANTS & FLOWERS</h1>
    <meta charset='utf-8'>
    
    <title> PLANTS & FLOWERS </title>
   #attempting to connect bootstap
    <link rel='stylesheet' type="text/css" href="/static/style.css">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://bootswatch.com/4/minty/bootstrap.min.css'>
    <link rel='stylesheet' type="text/css" href="/static/bootstrap.css">


</head>
<body>





    {% block content %} 
{% endblock %}


</body>

</html>



